

    <div class="row" style="margin:10px 0 0 0">
        <div class="col-4">
        <div *ngFor="let launch of (launches$ | async); let i = index">
            <div [routerLink]="['/details', launch.flight_number]" class="list-item" [ngClass]="{'top-border': i===0}">
                <div style="display:flex; align-items: stretch; margin: 20px; width: 100%">
                    <div style="flex-grow: 1">
                        <img style="width:50px; height: 50px; margin-right:10px" [src]="launch.links.mission_patch_small">
                    </div>
                    <div style="flex-grow: 3">
                        <div>{{launch.mission_name}}</div>
                        <div style="color: lightgrey">{{getFormattedDate(launch)}}</div>
                    </div>
                    <div style="flex-grow: 1; text-align: right;" [ngStyle]="launch.launch_success ? {'color': 'green'} : {'color': 'red'}">
                        {{getLaunchSuccessLabel(launch)}}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
